@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Beginning of Home Page CSS  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Beginning of Global Classes CSS*/


/* End of Global Classes CSS  */

/* Beginning of Navigation Bar CSS*/

.navigation_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(16, 16, 228, 0.733);
}

.navigation_bar .navigation_bar_menu{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 50px;
}

.navigation_bar .navigation_bar_menu .navigation_bar_brand_logo a img{
    height: 50px;
    width: 50px;
}

.navigation_bar .navigation_bar_menu .navigation_bar_menu_items{
    height: 100%;
    line-height: 70px;
}

.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items{
    display: flex;
}

.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items li{
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
}

.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items li .arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    line-height: 70px;
    transition: all 0.3s ease;
}

.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items li:hover .html_arrow,
.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items li:hover .js_arrow,
.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items li:hover .css_arrow{
    transform: rotate(180deg);
}


.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items li a{
    height: 100%;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.navigation_bar .navigation_bar_menu .navigation_bar_menu_items .navigation_bar_items .navigation_links .submenu_1{
    color: red;
}

/* End of  Navigation Bar CSS  */

/* End of Home Page CSS  */