@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Beginning of Home Page CSS  */
*{
    padding: 0;
    margin: 0;
}

html, body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

:root{

}

/* Beginning of Global Classes CSS*/
a{
    text-decoration: none ;
    color: black;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: ;   /* remember to put font-family here */
    font-size: 2.5rem;
}

h2{
    font-family: ;  /* remember to put font-family here */
}

h3{
    font-family: ;  /* remember to put font-family here */
    font-size: 1.3rem;
}

/* End of Global Classes CSS  */

/* Beginning of Navigation Bar CSS*/
.navigation_bar{
    background: rgba(61, 61, 151, 0.562);
}

/* End of  Navigation Bar CSS  */

/* End of Home Page CSS  */